<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jee
                           http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
                           http://www.springframework.org/schema/jms
                           http://www.springframework.org/schema/jms/spring-jms.xsd
                           http://www.springframework.org/schema/task
                           http://www.springframework.org/schema/task/spring-task.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <!-- Scans the classpath of this application for @Components to deploy as beans -->
    <context:component-scan base-package="com.freakz"/>
    <context:annotation-config/>
    <task:annotation-driven/>

    <jee:jndi-lookup id="dataSource" jndi-name="jdbc/hokan_ng-mysql"/>

    <bean id="core-io-Properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:core-io.properties"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="HokanNG"/>
    </bean>

    <tx:annotation-driven/>

    <!-- JMS -->
    <bean id="connectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory">
            <bean id="connectionFactory"
                  class="org.apache.activemq.ActiveMQConnectionFactory"
                  p:brokerURL="tcp://localhost:61616"/>
        </property>
    </bean>
    <bean id="queueOne" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="QUEUE.ONE"/>
    </bean>

    <bean name="fooListener" class="com.freakz.hokan_ng.core.http.jms.CoreListener"/>

    <jms:listener-container connection-factory="connectionFactory" cache="none">
        <jms:listener destination="QUEUE.ONE" ref="fooListener"/>
    </jms:listener-container>

    <bean name="coreIOTopicListener" class="com.freakz.hokan_ng.core.http.jms.CoreIOTopicListener"/>

    <jms:listener-container connection-factory="connectionFactory" cache="none" destination-type="topic">
        <jms:listener destination="TOPIC.HOKAN" ref="coreIOTopicListener"/>
    </jms:listener-container>


</beans>